/* TEMP */
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #37393db4;
  text-align: center;
}

.singleReview {
  max-width: 300px;
  border-top: 3px double black;
  list-style: none;
}
.singleReview img {
  max-width: 300px;
  max-height: 250px;
}
.reviewText {
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}

/* TEMP */

@media only screen and (min-width: 601px) {
  body {
    background-color: #37393db4;
  }
  .reviewsList{

    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .reviewsList p{
    max-width: 280px;
  }

  .singleReview {
    padding: 5px;
    margin: 5px;
  }
 
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
