* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #37393db4;
  text-align: center;
}

.singleReview {
  max-width: 300px;
  border-top: 3px double black;
  list-style-type: none;
}
.singleReview img {
  max-width: 300px;
  max-height: 250px;
  float: none;
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.reviewText {
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}
.singleReview h3 {
  padding: 10px 0;

  min-height: 44px;
}
.singleReview {
  padding: 5px;
  margin: 5px;
}

/* Media Queries */
@media only screen and (min-width: 601px) {
  body {
    background-color: #37393db4;
  }
  .reviewsList {
    padding: 12px 30px;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .reviewsList p {
    max-width: 280px;
  }

  .navBar {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .reviewsList {
    padding: 12px 30px;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .navBar {
    background-color: #37393db4;
  }
}
