* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  background-color: #3a6b91;
  text-align: center;
}
.header {
  position: fixed;
  background-color: #3a6b91;
  padding: 0px;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.loading {
  margin: 100px;
}

/* NavBar */
.nav-bar {
  background-color: #5199a7;
  display: block;
  position: sticky;
  top: 37px;
  padding: 10px 50px;
  z-index: 1;
}
.nav-bar ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-bar li {
  display: inline-block;
  font-size: 24px;
}
.nav-bar li a {
  text-decoration: none;
  color: black;
}
/* Dorpdown */

.dropdown-content {
  width: 145px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
}

/* RviewsList */
.reviews-list a {
  text-decoration: none;
  color: black;
}

.reviews-list__single-review {
  max-width: 300px;
  border-top: 3px double black;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  color: black;
}

.reviews-list__single-review img {
  max-width: 300px;
  max-height: 250px;
  float: none;
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.reviews-list__single-review h2 {
  font-size: 18px;
  padding: 10px 0;
  min-height: 44px;
}
.reviews-list__review-text {
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}
/* Review */
.review {
  max-width: 50%;
  list-style-type: none;
  padding: 5px;
  margin: 45px auto;
  color: black;
}
.review h2 {
  padding: 10px;
  padding-bottom: 20px;
}
.review p {
  margin: 5px;
  padding: 5px;
}

.review_img {
  max-width: 300px;
  max-height: 250px;
  float: none;
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.review__body_p {
  margin: 50px;
}

.review__like-button {
  width: 40px;
}
.review__dislike-button {
  width: 40px;
}
.review__show-comments {
  text-align: center;
  max-width: 150px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.review__like-container {
  display: flex;
  justify-content: center;
}
/* CommentsList */

.comments-list__single-comment h3 {
  border-bottom: 2px solid black;
}
.comments-list__single-comment {
  border: black 5px double;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #5199a7;
  box-shadow: 0px 5px 15px;
}

.comments-list__votes {
  text-align: right;
}
/* AddComment */
.add-comment__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-comment__form input {
  margin: 10px 0;
  width: 40%;
  max-width: 280px;
}
.add-comment__form textarea {
  margin: 10px 0;
  width: 40%;
  resize: vertical;
}
.add-comment__form button {
  width: 60px;
  height: 30px;
}
/* Media Queries */
@media only screen and (min-width: 701px) {
  .reviews-list {
    padding: 12px 30px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .reviews-list p {
    max-width: 280px;
  }
  .review_img {
    max-width: 700px;
    max-height: 450px;
    float: none;
    width: 100%;
    height: auto;
  }
  .nav-bar li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }
}

@media only screen and (max-width: 700px) {
  body {
    background-color: #5199a7;
  }
  .review {
    max-width: 300px;
  }

  .reviews-list {
    padding: 12px 30px;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comments-list__single-comment {
    padding: 0;
  }

  .add-comment__form textarea {
    margin: 10px 0;
    width: 80%;
    resize: vertical;
  }

  .add-comment__form input {
    margin: 10px 0;
    width: 80%;
    max-width: 280px;
  }
}

/* pseudo classes */

nav p:hover {
  text-decoration: underline;
  padding: 0 5px 0 0;
}

.reviews-list__single-review:hover {
  position: relative;
  top: -4px;
}

.review__show-comments:hover {
  text-decoration: underline;
  cursor: pointer;
}
