* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  background-color: #3a6b91;
  text-align: center;
}
.header {
  position: fixed;
  background-color: #3a6b91;
  padding: 0px;
  text-align: center;
  width: 100%;
}
.loading {
  margin: 100px;
}

/* NavBar */
.nav-bar {
  background-color: #5199a7;
  display: block;
  position: sticky;
  top: 37px;
  padding: 10px;
}
.nav-bar li {
  width: 35%;
  display: inline-block;
  font-size: 24px;
}
.nav-bar li a {
  text-decoration: none;
  color: black;
}
/* RviewsList */
.reviews-list a {
  text-decoration: none;
  color: black;
}

.reviews-list__single-review {
  max-width: 300px;
  border-top: 3px double black;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  color: black;
}

.reviews-list__single-review img {
  max-width: 300px;
  max-height: 250px;
  float: none;
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.reviews-list__single-review h3 {
  padding: 10px 0;
  min-height: 44px;
}
.reviews-list__review-text {
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}
/* Review */
.review {
  max-width: 50%;

  list-style-type: none;
  padding: 5px;
  margin: 65px auto;
  color: black;
}

.review p {
  margin: 5px;
  padding: 5px;
}

.review_img {
  max-width: 300px;
  max-height: 250px;
  float: none;
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.review__body_p {
  margin: 50px;
}
.review__like-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.review__like-button{
width: 40px;
}
.review__dislike-button{
  width: 40px;
}


/* CommentsList */

.comments-list__single-comment h3{
  border-bottom: 2px solid black;
}
.comments-list__single-comment {
  border: black 5px double;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #5199a7;
}

.comments-list__votes {
  text-align: right;
}

/* Media Queries */
@media only screen and (min-width: 601px) {
  .reviews-list {
    padding: 12px 30px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .reviews-list p {
    max-width: 280px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #5199a7;
  }
  .review{
  max-width: 300px;
    
  }
  

  .reviews-list {
    padding: 12px 30px;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .navBar {
    background-color: #37393db4;
  }
.comments-list__single-comment {
  padding: 0;
}


}

/* pseudo classes */

nav p:hover {
  text-decoration: underline;
  padding: 0 5px 0 0;
}

.reviews-list__single-review:hover {
  position: relative;
  top: -4px;
}

.comments-list__show-comments:hover {
  text-decoration: underline;
  cursor: pointer;
}
